<!doctype html>
<html lang="{% spaceless %}
        {% if meta.lang %} {{ meta.lang }} {% else %} {{ 'id' }} {% endif %}
    {% endspaceless %}">
<head>
    <meta charset="utf-8">

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>

    {% if meta.description %}
        <meta name="description" content="{{ meta.description }}"> 
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}

    <meta name="author" content="Hazuli Fidastian">

    <link rel="stylesheet" href="{{ theme_url }}/assets/css/normalize.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/assets/css/typeplate.min.css">
    <link rel="stylesheet" href="{{ theme_url }}/assets/css/style.css">

    {% if cookies_dark_theme %}
        <link rel="stylesheet" href="{{ theme_url }}/assets/css/dark.css">
    {% endif %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<section class="container home">
    {% if search_label %} {% include ('blog.html') %}
    {% elseif meta.page == 'blog' %} {% include ('blog.html') %}
    {% elseif meta.page == 'post' %} {% include ('post.html') %}
    {% else %} {{ content }}
    {% endif %}

    <footer id="footer">
        {% include ('nav.html') %}
        <br>
        <p>Best regards,<br>Hazuli Fidastian</p>
    </footer>

</section>

</body>
</html>